<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMailService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:321/MailService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMailService" contract="MailServiceReference.IMailService"
                name="BasicHttpBinding_IMailService" />
        </client>
    </system.serviceModel>
</configuration>